html {
  box-sizing: border-box;
  font-size: calc(1vw + 1vh + 0.5vmin);
}

@media (max-width: 480px) {
  font-size: calc(0.75vw + 0.75vh + 0.25vmin);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: #000;
  margin: 0;
  font-family: "Spectral", Times, serif;
  background: #fbfbfd;
  display: grid;
  height: 100vh;
  place-content: center;
}

h1 {
  text-align: center;
  line-height: 1.2;
  font-size: 4rem;
  margin: 0;
}

h1 span {
  display: block;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #f4a2c4;
}
